<!--   <form id="gmail-form" ng-submit="sendGmail()" ng-controller="Submit">
    <div class="msg-to wrapper-vert">
      <div class="wrapper-hor relative">
        <label for="contacts" class="msg-to__label">to:</label>
        <input name="email" id="contacts" class="msg-to__input" tabindex="1" autofocus autocomplete="off" ng-model="email" />
        <input class="msg-submit" id="submit" type="submit" value="⌘ + return to send" tabindex="3"/>
      </div>
    </div>
    <div class="msg-body wrapper-vert">
      <div class="wrapper-hor">
        <textarea name="body" cols="60" row="1" class="msg-body__textarea" tabindex="2" ng-model="text"></textarea>
      </div>
    </div>
    <div class="msg-result">
      <p>Result:
        {{ result }}
      </p>
    </div>
  </form> -->

  <div class="accounts">
<!--         <p class="helper get-started relative">To get started, connect your accounts.</p> -->
    <a href="/user/google/auth" class="channel-toggle" target="_blank">G</a>
    <a href="/user/facebook/auth" class="channel-toggle" target="_blank">f</a>
  </div>
