  <form id="gmail-form" ng-controller="AutocompleteManager" ng-submit="send()">
    <div id="msg-address" class="msg-to wrapper-vert">
      <div class="msg-to__flex">
        <label for="contacts" class="msg-to__label">to:</label>
        <div class="msg-to__addresses">
          <input name="email" id="contacts" class="msg-to__input" tabindex="1" autofocus autocomplete="off" />
          <div class="approved-contacts">
            <div ng-repeat="address in addresses">
                <!-- TODO
                Add a class name to this span that reflects the type of contact (address.type) -->
                <span class="approved-contacts__address">{{ address.address }}</span>
                <address-status><a ng-click="delete($index)" class="approved-contacts__remove">тип</a></address-status>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="msg-compose" class="msg-body wrapper-vert">
      <div class="wrapper-hor">
        <textarea name="body" cols="60" row="1" class="msg-body__textarea" tabindex="2" ng-model="text"></textarea>
      </div>
    </div>
    <input class="msg-submit disabled" id="submit" type="submit" value="send" tabindex="3"/>
  </form>

  <div class="accounts">
<!--         <p class="helper get-started relative">To get started, connect your accounts.</p> -->
    <a href="/user/google/auth" class="channel-toggle <%= gStatus %>">G</a>
    <a href="/user/facebook/auth" class="channel-toggle <%= fbStatus %>">f</a>
  </div>
