/* 	Colors
	------------------------------------------------------- */
$gray: #ccc;
$gray-dark: #bbb;

$black: #1d1d1d;

/* 	Base styles
	------------------------------------------------------- */
body {
	background-color: $gray;
	font-size: 34px;
	line-height: 51px;
	color: $black;
}

.wrapper-vert {
	@include clearfix;
	padding-bottom: 20px;
	padding-top: 20px;
}

.wrapper-hor {
	width:  92%;
	margin: auto;
}