/* 	Generic message styles
	------------------------------------------------------- */

/* 	Message:to  -------------------------------------------- */

.msg-to {
	@extend .block;
	border-bottom: 1px solid $gray-dark;
}

.msg-to__flex {
	flex: 1 1 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 2%;
}

.msg-to__label {
}

.msg-to__addresses {
	flex: 1;
	margin: 0 0 0 20px;
}

.msg-to__input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background-color: inherit;
	border: none;
	display: block;
	padding: 0;
	width: 100%;


	&:focus {
		outline: none;
	}
}

.ui-helper-hidden-accessible {
	display: none;
}

.approved-contacts__remove {
	display: inline-block;
	cursor: pointer;

	&:hover {
		color: rgb(167, 71, 71);
	}
}


/* 	Message:submit  -------------------------------------------- */

%inlay {
	background-color: $gray-dark;
	@include border-radius(2px);
	border: none;
	@include box-shadow(0px 0px 3px #999 inset);
}

.msg-submit {
	@extend %inlay;
	display: block;
	@extend %font;
	@extend %size-3;
	padding-left: 12px;
	padding-right: 12px;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

/* 	Message:body -------------------------------------------- */

.msg-body__textarea {
	display: block;
	background-color: inherit;
	border: none;
	resize: none;
	@extend %size-2;
	@extend %font;
	width: 90%;

	&:focus {
		outline: none;
	}
}

.hiddendiv {
	@extend .msg-body__textarea;
	display: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
}

// http://www.impressivewebs.com/textarea-auto-resize/
.no-scroll {
	overflow: hidden;
}

/* 	Autocomplete
	------------------------------------------------------- */

.ui-autocomplete {
	background-color: $gray-light;
	padding: 0px 20px 10px;
	max-width: 70%;
}

.google-contact-name {
	@extend %size-3;
}

.google-contact-email-only {
	@extend %size-3;
}

.google-contact-email {
	@extend %size-5;
	font-style: italic;
	color: $black-1;
	padding-left: 10px;
}

.ui-state-focus {
	border-bottom: 1px solid $gray-dark;
}

/* 	Social network connect
	------------------------------------------------------- */

.accounts {
	position: fixed;
	bottom: 0;
	right: 0;
	@include clearfix;
	text-align: center;
	overflow: visible; // For helper
}

.channel-toggle {
	display: block;
	color: rgba(204, 204, 204, 0.5);
	padding: 2px 10px;
	text-decoration: none;
	font-weight: 700;
	font-size: 40px;
	text-shadow: 1px 4px 6px $gray, 0 0 0px #000, 1px 4px 6px $gray;
}

/* 	Helper text
	------------------------------------------------------- */

.helper {
	@extend %size-4;
	@extend %inlay;
	display: inline-block;
}

.get-started {
	padding: 6px 12px;
	left: -400px;
	position: absolute;
}