/* 	Generic message styles
	------------------------------------------------------- */

/* 	Message:to  -------------------------------------------- */

.msg-to {
	@extend .block;
	border-bottom: 1px solid $gray-dark;
}

.msg-to__label {
	float: left;
}

.msg-to__input {
	float: left;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background-color: inherit;
	border: none;
	display: block;
	margin: 0 0 0 20px;
	padding: 0;
	width: 80%;

	&:focus {
		outline: none;
	}
}

/* 	Message:submit  -------------------------------------------- */

.msg-submit {
	display: block;
	background-color: $gray-dark;
	@include border-radius(2px);
	border: none;
	@extend %font;
	@extend %size-3;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding-left: 12px;
	padding-right: 12px;
	@include box-shadow(0px 0px 3px #999 inset);
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

/* 	Message:body -------------------------------------------- */

.msg-body__textarea {
	display: block;
	background-color: inherit;
	border: none;
	resize: none;
	@extend %size-2;
	@extend %font;
	width: 90%;

	&:focus {
		outline: none;
	}
}

.hiddendiv {
	@extend .msg-body__textarea;
	display: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
}

// http://www.impressivewebs.com/textarea-auto-resize/
.no-scroll {
	overflow: hidden;
}

/* 	Autocomplete
	------------------------------------------------------- */

.ui-autocomplete {
	background-color: $gray-light;
	padding: 0px 20px 10px;
	max-width: 70%;
}

.google-contact-name {
	@extend %size-3;
}

.google-contact-email-only {
	@extend %size-3;
}

.google-contact-email {
	@extend %size-5;
	font-style: italic;
	color: $black-1;
	padding-left: 10px;
}

.ui-state-focus {
	border-bottom: 1px solid $gray-dark;
}