/* 	Generic message styles
	------------------------------------------------------- */

.msg-to {
	@extend .block;
	border-bottom: 1px solid $gray-dark;
}

.msg-to__label {
	float: left;
}

.msg-to__input {
	float: left;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background-color: inherit;
	border: none;
	display: block;
	margin: 0 0 0 20px;
	padding: 0;
	width: 80%;

	&:focus {
		outline: none;
	}
}

/* 	Autocomplete
	------------------------------------------------------- */

.ui-autocomplete {
	margin-top: 20px; // So that is doesn't overlap the apparent input field
	background-color: $gray-light;
	padding: 10px 20px;
}

.google-contact-name {
	@extend %size-3;
}

.google-contact-email-only {
	@extend %size-3;
}

.google-contact-email {
	@extend %size-5;
	font-style: italic;
	color: $black-1;
	padding-left: 10px;
}

.ui-state-focus {
	border-bottom: 1px solid $gray-dark;
}