<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery.js"></script>
  </head>
  <body>
  	 <p>
         <%= contacts %>
     </p>
</html>