<!DOCTYPE html>
<html ng-app="emit" class="ng-scope">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ng-controller="AppCtrl">
      <div class="authenticate hidden">
        <a class="connect" href="user/auth/google">Connect with Gmail</a>
      </div>

      <h2>Gmail</h2>

        <form action="/user/gsend" method="post">
          <label for="contacts">Contacts: </label>
          <input name="email" id="contacts" />
          <textarea name="body" cols="30" rows="10"></textarea>
          <input type="submit">
        </form>
    </div>
    <script src="/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/plugins/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>