<!DOCTYPE html>
<html ng-app="emit">
  <head>
    <base href="/">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div ng-view></div>

    <form action="/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>

    <!-- Plugins -->
    <script src="/javascripts/vendor/angular/angular.min.js"></script>
    <script src="/javascripts/vendor/angular/angular-cookies.min.js"></script>



    <script src="/jquery.js"></script>
    <script src="/javascripts/vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>

    <!-- Angular -->
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers.js"></script>

    <!-- Other scripts -->
    <script src="/javascripts/script.js"></script>
  </body>
</html>