<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
  	<div class="authenticate hidden">
  	  <a class="connect" href="user/auth/google">Connect with Gmail</a>
  	</div>

    <h1><%= title %></h1>
    <h2>Gmail</h2>
    <form action="">
      <p class="contacts">

      </p>
	    <textarea name="" id="" cols="30" rows="10"></textarea>
		  <input type="submit">
    </form>
  </body>
</html>