<!DOCTYPE html>
<html ng-app="emit" class="ng-scope">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ng-controller="AppCtrl">
      <form id="gmail-form" action="/user/gsend" method="post">
        <div class="msg-to wrapper-vert">
          <div class="wrapper-hor relative">
            <label for="contacts" class="msg-to__label">to:</label>
            <input name="email" id="contacts" class="msg-to__input" tabindex="1" autofocus autocomplete="off"/>
            <input class="msg-submit" type="submit" value="⌘ + return to send" tabindex="3"/>
          </div>
        </div>
        <div class="msg-body wrapper-vert">
          <div class="wrapper-hor">
            <textarea name="body" cols="60" row="1" class="msg-body__textarea" tabindex="2"></textarea>
          </div>
        </div>
      </form>

      <%= user %>
<!--       <div class="accounts">
        <p class="helper get-started relative">To get started, connect your accounts.</p> -->
        <a href="/user/google/auth" class="channel-toggle">G</a>
<!--         <a href="/user/auth/google" class="channel-toggle">f</a>
        <a href="/user/auth/google" class="channel-toggle">t</a> -->
      </div>
    </div>
    <script src="/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/plugins/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>