@charset "UTF-8";
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 	Colors
	------------------------------------------------------- */
/* 	Fonts
	------------------------------------------------------- */
@font-face {
  font-family: 'TeX Gyre Pagella';
  src: url("/fonts/texgyrepagella-regular-webfont.eot");
  src: local("☺"), url("/fonts/texgyrepagella-regular-webfont.woff") format("woff"), url("/fonts/texgyrepagella-regular-webfont.ttf") format("truetype"), url("/fonts/texgyrepagella-regular-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  src: url("/fonts/texgyrepagella-bold-webfont.eot");
  src: local("☺"), url("/fonts/texgyrepagella-bold-webfont.woff") format("woff"), url("/fonts/texgyrepagella-bold-webfont.ttf") format("truetype"), url("/fonts/texgyrepagella-bold-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  src: url("/fonts/texgyrepagella-bolditalic-webfont.eot");
  src: local("☺"), url("/fonts/texgyrepagella-bolditalic-webfont.woff") format("woff"), url("/fonts/texgyrepagella-bolditalic-webfont.ttf") format("truetype"), url("/fonts/texgyrepagella-bolditalic-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  src: url("/fonts/texgyrepagella-italic-webfont.eot");
  src: local("☺"), url("/fonts/texgyrepagella-italic-webfont.woff") format("woff"), url("/fonts/texgyrepagella-italic-webfont.ttf") format("truetype"), url("/fonts/texgyrepagella-italic-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: italic;
}

/* line 48, ../sass/base.scss */
body, .msg-submit, .msg-body__textarea, .hiddendiv {
  font-family: "TeX Gyre Pagella", "Palatino", "Georgia", "Times New Roman", "Hoefler Text", "Baskerville", serif;
}

/* 	Base styles
	------------------------------------------------------- */
/* line 94, ../sass/base.scss */
body {
  font-size: 24px;
  line-height: 36px;
  background-color: #cccccc;
  color: #1d1d1d;
}
@media screen and (min-width: 620px) {
  /* line 94, ../sass/base.scss */
  body {
    font-size: 30px;
    line-height: 45px;
  }
}

/* line 105, ../sass/base.scss */
.wrapper-vert {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* line 111, ../sass/base.scss */
.wrapper-hor {
  overflow: hidden;
  *zoom: 1;
  width: 92%;
  margin: auto;
}

/* 	Utility
	------------------------------------------------------- */
/* line 120, ../sass/base.scss */
.relative {
  position: relative;
}

/* 	Generic message styles
	------------------------------------------------------- */
/* 	Message:to  -------------------------------------------- */
/* line 6, ../sass/modules.scss */
#msg-address {
  overflow: visible;
  position: relative;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
/* line 15, ../sass/modules.scss */
#msg-address.no-focus {
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -ms-transform: translate3d(0, -20px, 0);
  -o-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  color: #a5a5a5;
  background-color: #bababa;
}

/* line 31, ../sass/modules.scss */
.msg-to__flex {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 2%;
}

/* line 42, ../sass/modules.scss */
.msg-to__addresses {
  flex: 1;
  margin: 0 0 0 20px;
}

/* line 47, ../sass/modules.scss */
.msg-to__input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit;
  border: none;
  display: block;
  padding: 0;
  width: 100%;
  color: inherit;
}
/* line 58, ../sass/modules.scss */
.msg-to__input:focus {
  outline: none;
}

/* line 63, ../sass/modules.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 67, ../sass/modules.scss */
.approved-contacts__remove {
  display: inline-block;
  cursor: pointer;
}
/* line 71, ../sass/modules.scss */
.approved-contacts__remove:hover {
  color: #a74747;
}

/* line 76, ../sass/modules.scss */
.waiting {
  -webkit-transform-origin: 50% 64%;
  -moz-transform-origin: 50% 64%;
  -ms-transform-origin: 50% 64%;
  -o-transform-origin: 50% 64%;
  transform-origin: 50% 64%;
  -webkit-animation: spin .6s linear infinite;
  -moz-animation: spin .6s linear infinite;
  -ms-animation: spin .6s linear infinite;
  -o-animation: spin .6s linear infinite;
  animation: spin .6s linear infinite;
}

@-webkit-keyframes spin {
  /* line 90, ../sass/modules.scss */
  from {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 91, ../sass/modules.scss */
  to {
    -webkit-transform: rotateZ(360deg);
  }
}

/* line 94, ../sass/modules.scss */
.to-error {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #a74747;
}
/* line 101, ../sass/modules.scss */
.to-error:hover .to-error__message {
  display: block;
}

/* line 107, ../sass/modules.scss */
.to-error__message {
  position: absolute;
  background-color: #efefef;
  z-index: 2;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  width: 200px;
  margin-left: -100px;
  top: 110%;
  box-shadow: 1px 1px 4px #aaa;
}
/* line 119, ../sass/modules.scss */
.to-error__message:before {
  position: absolute;
  bottom: 100%;
  left: 98px;
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 6px 12px 6px;
  border-color: transparent transparent #efefef transparent;
}

/* 	Message:submit  -------------------------------------------- */
/* line 135, ../sass/modules.scss */
.msg-submit, .helper {
  background-color: #bbbbbb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 0px 0px 3px #999999 inset;
  -moz-box-shadow: 0px 0px 3px #999999 inset;
  box-shadow: 0px 0px 3px #999999 inset;
}

/* line 142, ../sass/modules.scss */
.msg-submit {
  display: block;
  font-size: 24px;
  line-height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
/* line 151, ../sass/modules.scss */
.msg-submit:focus {
  outline: none;
}

/* 	Message:body -------------------------------------------- */
/* line 159, ../sass/modules.scss */
#msg-compose.focus {
  box-shadow: 0 -2 2px #585858;
}

/* line 164, ../sass/modules.scss */
.msg-body {
  background-color: #cccccc;
  border-top: 1px solid #bbbbbb;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  top: initial;
  z-index: 1;
}

/* line 176, ../sass/modules.scss */
.msg-body__textarea, .hiddendiv {
  display: block;
  background-color: inherit;
  border: none;
  resize: none;
  font-size: 20px;
  line-height: 30px;
  width: 90%;
}
@media screen and (min-width: 620px) {
  /* line 176, ../sass/modules.scss */
  .msg-body__textarea, .hiddendiv {
    font-size: 24px;
    line-height: 36px;
  }
}
/* line 189, ../sass/modules.scss */
.msg-body__textarea:focus, .hiddendiv:focus {
  outline: none;
}

/* line 194, ../sass/modules.scss */
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

/* line 203, ../sass/modules.scss */
.no-scroll {
  overflow: hidden;
}

/* 	Autocomplete
	------------------------------------------------------- */
/* line 210, ../sass/modules.scss */
.ui-autocomplete {
  background-color: #efefef;
  padding: 0px 20px 10px;
  max-width: 70%;
}

/* line 216, ../sass/modules.scss */
.google-contact-name {
  font-size: 24px;
  line-height: 36px;
}

/* line 220, ../sass/modules.scss */
.google-contact-email-only {
  font-size: 24px;
  line-height: 36px;
}

/* line 224, ../sass/modules.scss */
.google-contact-email {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #8b8b8b;
  padding-left: 10px;
}

/* line 231, ../sass/modules.scss */
.ui-state-focus {
  border-bottom: 1px solid #bbbbbb;
}

/* 	Social network connect
	------------------------------------------------------- */
/* line 238, ../sass/modules.scss */
.accounts {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
  overflow: visible;
}

/* line 247, ../sass/modules.scss */
.channel-toggle {
  display: block;
  color: rgba(204, 204, 204, 0.5);
  padding: 2px 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 1px 4px 6px #cccccc, 0 0 0px black, 1px 4px 6px #cccccc;
}

/* 	Helper text
	------------------------------------------------------- */
/* line 260, ../sass/modules.scss */
.helper {
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
}

/* line 266, ../sass/modules.scss */
.get-started {
  padding: 6px 12px;
  left: -400px;
  position: absolute;
}
